[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flask = "*"
requests = "*"
pandas = "*"
pymongo = "*"
dnspython = "*"
pypdf2 = "*"
pypdf = "*"
openai = "*"
langchain = "*"
pymysql = "*"
langchain-experimental = "*"
flask-cors = "*"
flask-sock = "*"
sock = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
